@import '~stylus/variable'

.group-info
    font-size 12px
    color $text-info-color
.group-time
    width 350px
    display flex
    flex-direction row
    justify-content space-between
    &>div>span
        padding-left 5px
.group-modal
    >>>.ivu-modal-footer
        display none