
.cus-table
    margin-top 20px
    border-collapse collapse
    th
        width 185px
        height 35px
        background #f8f8f9
        padding-left 17px
        border 1px solid #e9eaec
        text-align left
        font-weight 600
        font-size 12px
    td
        width 317px
        padding 12px 17px
        border 1px solid #e9eaec
        font-size 12px