clear()
    display block
    content ''
    visibility hidden
    height 0
    overflow hidden
    clear both
center()
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
margin-top(num)
    margin-top num
margin-bottom(num)
    margin-bottom num
margin-left(num)
    margin-left num
margin-right(num)
    margin-right num
